<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583265588703-iarahb3p9pjf952i5bos1q1tpv5d5hnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583265588703-iarahb3p9pjf952i5bos1q1tpv5d5hnn</string>
	<key>API_KEY</key>
	<string>AIzaSyB-O3AFdN6LQSWmU2wgvlgNPRWBJl_z-aI</string>
	<key>GCM_SENDER_ID</key>
	<string>583265588703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dovi.jwst</string>
	<key>PROJECT_ID</key>
	<string>jwst-7a859</string>
	<key>STORAGE_BUCKET</key>
	<string>jwst-7a859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583265588703:ios:4184bc2b270b703cada06a</string>
</dict>
</plist>