<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495989117325-sj77l51qh5sd3fpq7kes81milaod9066.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495989117325-sj77l51qh5sd3fpq7kes81milaod9066</string>
	<key>API_KEY</key>
	<string>AIzaSyAasV1BM9q0S6Lio3K9dMqF_bIP20jqYNs</string>
	<key>GCM_SENDER_ID</key>
	<string>495989117325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mysample</string>
	<key>PROJECT_ID</key>
	<string>nasa-image-c2330</string>
	<key>STORAGE_BUCKET</key>
	<string>nasa-image-c2330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495989117325:ios:8698e135179d44cc65edc4</string>
</dict>
</plist>